/* ===== Base ===== */
.btn {
  border: 1px solid #c9c7c7;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  display: inline-flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

/* ===== Primary Add Button ===== */
.btn-default {
  background-color: #4f46e5;
  color: white;
  padding: 9px 20px;
  border-radius: 10px;
}

.btn-default:hover {
  background-color: #4a4bd4;
}

/* ===== Filter Buttons ===== */
.btn-rounded {
  padding: 6px 14px;
  border-radius: 999px;
  background-color: #ffff;
  color: #6b7280;
}

.btn-rounded.btn-active {
  background-color: #4f46e5;
  padding: 6px 18px;
  color: white;
}

/* ===== Icon Button (Delete) ===== */
.btn-icon {
  background: transparent;
  padding: 6px;
  color: #9ca3af;
}

.btn-icon:hover {
  background-color: #f3f4f6;
  border-radius: 8px;
  color: #ef4444;
}

/* ===== Text Button (Clear Completed) ===== */
.btn-text {
  background: transparent;
  color: #6b7280;
  padding: 4px;
}

.btn-text:hover {
  color: #111827;
}
